<div class="row">
  <%= simple_form_for(@remote_lab) do |f| %>
    <%= f.error_notification %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="remoteLabTabs">
      <li class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
      <li><a href="#pdfUpload" role="tab" data-toggle="tab">PDF Upload</a></li>
      <li><a href="#labConfig" role="tab" data-toggle="tab">Lab Configuration</a></li>
      <li><a href="#yunConfig" role="tab" data-toggle="tab">Yún Configuration</a></li>
      <li><a href="#uiDesigner" role="tab" data-toggle="tab">UI Designer</a></li>
      <div class="form-actions">
        <%= f.button :submit, class:'btn btn-primary', id: 'remote-lab-submit' %>
      </div>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="details">
        <div class="form-inputs">
          <%= f.input :title, input_html: {class: 'form-control'}%>
          <%= f.input :version, input_html: {class: 'form-control'}%>
          <%= f.input :author, input_html: {class: 'form-control'} %>
          <%= f.input :school, input_html: {class: 'form-control'} %>
        </div>
      </div>
      <div class="tab-pane" id="pdfUpload">
        <p>Upload PDF that describe the experiment.</p>
        <p>This has not been implemented yet.</p>
      </div>
      <div class="tab-pane" id="labConfig">
        <div class="form-inputs">
          <div class="input">
            <%= f.label :lab_type %>
            <%= f.select(:lab_type, RemoteLab.lab_types.keys.map {|lab_type| [lab_type.titleize,lab_type]}, {}, { :class => 'form-control'}) %>
          </div>
          <div class="publish-only-config" <%= 'hidden' if @remote_lab.lab_type == 'controllable'%>>
            TODO
          </div>
          <div class="controllable-config" <%= 'hidden' if @remote_lab.lab_type.nil? or @remote_lab.lab_type == 'publish_only'%>>
            <%= f.input :password, input_html: {class: 'form-control'}%>
            <%= f.input :allowable_time, input_html: {class: 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="yunConfig">
        <div class="form-inputs">
          <div class="serverDetails">
            <h4>Server</h4>
            <%= f.input :yun_server, input_html: {class:'form-control' , placeholder: 'http://myArduinoYun.local'}%>
          </div>

          <hr>

          <div class="yunInputs">
            <h4>Inputs</h4>

            <%= link_to_add_association f, :inputs, :"data-association-insertion-node" => ".yunInputTable tbody",:"data-association-insertion-method" => "append" do %>
              <btn class="btn btn-default">New Input</btn>
            <% end %>
            <table class="yunInputTable table">
              <thead>
              <th width="200">Name</th>
              <th width="200">Pin Type</th>
              <th width="200">Pin</th>
              <th width="200">Data Type</th>
              <th width="200">Data Rate</th>
              <th width="200">Data Units</th>
              <th></th>
              </thead>
              <tbody>
              <%= f.simple_fields_for :inputs do |i|%>
                <%= render 'input_fields', :f => i%>
              <% end %>
              </tbody>
            </table>
          </div>

          <hr>

          <div class="yunOutputs">
            <h4>Outputs</h4>
            <btn class="btn btn-default">New Output</btn>
          </div>

        </div>

      </div>
      <div class="tab-pane" id="uiDesigner">
        <p>UI Designer has not been implemented yet.</p>
      </div>
    </div>


  <% end %>
</div>

<script>
  $(document).ready(function() {
    // Toggles the Lab Type Params
    $('#remote_lab_lab_type').change(function(e) {
      var selected = $(this).val()
      if (selected == 'controllable') {
        $('.publish-only-config').fadeOut();
        $('.controllable-config').fadeIn();
        $('.publish-only-config input').val('');
      }
      else {
        $('.controllable-config').fadeOut();
        $('.publish-only-config').fadeIn();
        $('.controllable-config input').val('');
      }
    });

    var firstErrorTabId = $('.error').first().parents('.tab-pane').attr('id');
    if (firstErrorTabId != undefined) {
      $('#remoteLabTabs a[href=#'+ firstErrorTabId +']').tab('show');
    }

  });
</script>